@model Xyperico.Blogging.Web.Areas.Blogging.Models.EditBlogsModel
@{
    ViewBag.Title = "Blogs";
}

<h2>My blogs</h2>

@if (Model.Blogs.Count > 0)
{
  <p>These are your blogs.</p>
  
  <dl>
  @foreach (var blog in Model.Blogs)
  {
    <dt><a href="@Url.Action("posts", "edit", new { id = blog.Id })">@blog.Title</a></dt>
    <dd><span>@blog.Key</span> | @blog.PostCount</dd>
  }
  </dl>
}
else
{
  <p>You have not created any blogs yet.</p>
}


<p>Click here to <a href="@Url.Action("createblog", "edit")">create a new blog</a>.</p>
