@model Xyperico.Blogging.Web.Areas.Blogging.Models.EditEditPostModel
@using Xyperico.Web.Mvc.Html

@{
    ViewBag.Title = "Edit blog post";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("editpost", "edit", FormMethod.Post))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()

  <fieldset>
    <ol class="form inputs">
      <li>
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
      </li>
      <li>
        @Html.LabelFor(m => m.Slug)
        @Html.TextBoxFor(m => m.Slug)
      </li>
      <li>
        @Html.LabelFor(m => m.Body)
        @Html.TextAreaFor(m => m.Body)
      </li>
    </ol>
    <ol class="form buttons">
      <li><input type="submit" value="@_.Blogging.Edit_post" /></li>
    </ol>
  </fieldset>
}
@Html.AutoFocusFor(m => m.Title)