@model Xyperico.Blogging.Web.Areas.Blogging.Models.EditPostsModel
@{
    ViewBag.Title = "Blog posts";
}

<hgroup>
  <h1>@Model.Blog.Title</h1>
  <h2>Blog posts</h2>
</hgroup>

<p><a href="@Url.Action("createpost", "edit", new { id = Model.Blog.Id })">Add new blog post</a>.</p>

@if (Model.Posts.Count > 0)
{
  <table>
  @foreach (var post in Model.Posts)
  {
    <tr>
      <td>
        <a href="@Url.Action("editpost", "edit", new { id = post.Id })">@post.Title</a><br />
        <a href="@Url.Action("editpost", "edit", new { id = post.Id })">Edit</a> |
        <a href="@Url.Action("post", "show", new { id = post.Id })">Show</a> |
        <a href="@Url.Action("deletepost", "edit", new { id = post.Id })">Delete</a> |
      </td>
      <td>
        @post.PublishDate.ToShortDateString()
      </td>
    </tr>
  }
  </table>
}
else
{
  <p>You have not created any posts yet.</p>
}


<p><a href="@Url.Action("createpost", "edit", new { id = Model.Blog.Id })">Add new blog post</a>.</p>
